[Unit]
Description=Start gpsd and chronyd in controlled order
After=network.target
Before=ptp4l.service tankervision.service
Conflicts=gpsd.service chrony.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/gpsd-chrony-restart.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
